<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Asteroids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CompileAssets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libAsteroids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3BEEA321DF630D600F79B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BEEA4E1DF631E600F79B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3BEEA581DF6325000F79B91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3EACC9C1DF909BE00025665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
